* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

:root {
  --main: #7654ff;
  --light: #f3efff;
  --grey100: #eef0f3;
  --grey300: #d5d9de;
  --grey500: #8d939a;
  --white: #ffffff;
  --black: #09090a;

  font-family: "SUIT";
  line-height: 140%;
  font-weight: 300;
  color: var(--black);
}

@font-face {
  font-family: "SUIT";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-Light.ttf")
      format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "SUIT";
  font-weight: 600;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/sunn/SUIT-SemiBold.ttf")
      format("truetype");
  font-display: swap;
}

.MuiFormControl-root {
  position: absolute !important;
  right: 40px;
  height: 0px !important;
  overflow: hidden;
}
.MuiFormControl-root * {
  height: 0px !important;
  overflow: hidden;
}
